<Configuration>
<Workspace>
<WorkspacePath>C:\Jenkins\workspace\ToscaJob\In4Suite Expenses.tws</WorkspacePath>
<UserName>Admin</UserName>
<Password>Admin</Password>
</Workspace>
<Execution>
<ExecutionList>In4Suite Expenses\In4Suite Expenses ExecutionLists\Expenses</ExecutionList>
</Execution>
<Result>
<ResultFile>C:\ToscaResults\result.xml</ResultFile>
</Result>
</Configuration>
